<p>
  food-list works!
</p>

<div>
  <label for="food-name">Search Food:</label>
  <input type="text" [(ngModel)]="foodsList.name">
</div>
<br>
<br>
<br>
<br>

<button (click)="showAddFood();">Add Food</button>

<div *ngIf="isVisible">

  <div class="addFood">
    <div>
      <label for="food-name">Name</label>
      <input type="text" [(ngModel)]="newFood.name">
    </div>
    <div>
      <label for="food-calories">Calories</label>
      <input type="text" [(ngModel)]="newFood.calories">
    </div>
    <div>
      <label for="food-image">Image</label>
      <input type="text" [(ngModel)]="newFood.image">
    </div>
    <div>
      <label for="food-quantity">Quantity</label>
      <input type="text" [(ngModel)]="newFood.quantity">
    </div>
    <div>
      <button (click)="addFood();hideAddFood();" id ="submitButton">Submit New Food</button>
    </div>
</div>

</div>



<div *ngFor="let food of foodsList">
  <div>
    <img [src]="food.image">
    <h2>{{food.name}}</h2>
    <h3>{{food.calories}}</h3>
    <h3>{{food.image}}</h3>
    <h3>{{food.quantity}}</h3>
  </div>
</div>